<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>102</integer>
		<key>b</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>102</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>r</key>
		<integer>204</integer>
		<key>g</key>
		<integer>102</integer>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>r</key>
		<integer>204</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>153</integer>
	</dict>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>153</integer>
		<key>b</key>
		<integer>204</integer>
	</dict>
</array>
</plist>
