<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>text</key>
			<string>Time Constraints</string>
			<key>request</key>
			<false/>
		</dict>
		<dict>
			<key>text</key>
			<string>Credit Constraints</string>
			<key>request</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>Clear Constraints</string>
			<key>request</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>text</key>
			<string>Generate Schedule</string>
			<key>request</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
