<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Fall 1st Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>ENGR 213</string>
				<key>CourseName</key>
				<string>Applied Ordinary Differential Equations</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 231</string>
				<key>CourseName</key>
				<string>Introduction to Discrete Mathematics</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 243</string>
				<key>CourseName</key>
				<string>Programming Methodology I</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ENGR 201</string>
				<key>CourseName</key>
				<string>Professional Practive and Responsibility</string>
				<key>numberOfCredits</key>
				<string>1.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 273</string>
				<key>CourseName</key>
				<string>Principles of Electrical Engineering</string>
				<key>numberOfCredits</key>
				<string>3.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Winter 1st Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>ENGR 233</string>
				<key>CourseName</key>
				<string>Applied Advance Calculus</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 264</string>
				<key>CourseName</key>
				<string>Signals and Systems I</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 244</string>
				<key>CourseName</key>
				<string>Programming Methodology II</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 312</string>
				<key>CourseName</key>
				<string>Digital Systems Design I</string>
				<key>numberOfCredits</key>
				<string>3.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ENGR 202</string>
				<key>CourseName</key>
				<string>Sustainable Development and Environmental Stewardship</string>
				<key>numberOfCredits</key>
				<string>1.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Fall 2nd Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>COEN 352</string>
				<key>CourseName</key>
				<string>Data Structures and Algorithms</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 311</string>
				<key>CourseName</key>
				<string>Electronics I</string>
				<key>numberOfCredits</key>
				<string>4.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 364</string>
				<key>CourseName</key>
				<string>Signals and Systems II</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 311</string>
				<key>CourseName</key>
				<string>Computer Organization and Software</string>
				<key>numberOfCredits</key>
				<string>3.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ENCS 282</string>
				<key>CourseName</key>
				<string>Technical Writing and Communication</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Winter 2nd Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>ELEC 370</string>
				<key>CourseName</key>
				<string>Modelling and Analysis of Physical System</string>
				<key>numberOfCredits</key>
				<string>3.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 346</string>
				<key>CourseName</key>
				<string>Operating Systems</string>
				<key>numberOfCredits</key>
				<string>4.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>SOEN 341</string>
				<key>CourseName</key>
				<string>Software Process</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 353</string>
				<key>CourseName</key>
				<string>Transmission Line Circuits and Electromagnetic Waves</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ENGR 391</string>
				<key>CourseName</key>
				<string>Numerical Methods in Engineering</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Fall 3rd Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>COEN 317</string>
				<key>CourseName</key>
				<string>Microprocessor Systems</string>
				<key>numberOfCredits</key>
				<string>4.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 316</string>
				<key>CourseName</key>
				<string>Computer Architecture and Design</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string></string>
				<key>CourseName</key>
				<string>COEN Technical Elective Course as per Option</string>
				<key>numberOfCredits</key>
				<string></string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string></string>
				<key>CourseName</key>
				<string>COEN Technical Elective Course as per Option</string>
				<key>numberOfCredits</key>
				<string></string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ENGR 301</string>
				<key>CourseName</key>
				<string>Engineering Management Principles and Economics</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Winter 3rd Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>ENGR 371</string>
				<key>CourseName</key>
				<string>Probability and Statistics in Engineering</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 321</string>
				<key>CourseName</key>
				<string>Introduction to Semiconductor Materials and Devices</string>
				<key>numberOfCredits</key>
				<string>3.50</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>ELEC 372</string>
				<key>CourseName</key>
				<string>Fundamentals of Control Systems</string>
				<key>numberOfCredits</key>
				<string>3.50</string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 390</string>
				<key>CourseName</key>
				<string>Computer Engineering Team Design Project</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Fall 4th Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string>ENGR 392</string>
				<key>CourseName</key>
				<string>Impact of Technology on Society</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 390</string>
				<key>CourseName</key>
				<string>Computer Engineering Team Design Project</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 390</string>
				<key>CourseName</key>
				<string>Computer Engineering Team Design Project</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string>COEN 490</string>
				<key>CourseName</key>
				<string>Capstone Computer Engineering Design Project</string>
				<key>numberOfCredits</key>
				<string>4.00</string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Winter 4th Year</string>
		<key>data</key>
		<array>
			<dict>
				<key>CourseID</key>
				<string></string>
				<key>CourseName</key>
				<string>General Education Elective</string>
				<key>numberOfCredits</key>
				<string>3.00</string>
				<key>completed</key>
				<string>1</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string></string>
				<key>CourseName</key>
				<string>COEN Technical Elective Course as per Option</string>
				<key>numberOfCredits</key>
				<string></string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string></string>
				<key>CourseName</key>
				<string>COEN Technical Elective Course as per Option</string>
				<key>numberOfCredits</key>
				<string></string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>CourseID</key>
				<string></string>
				<key>CourseName</key>
				<string>COEN Technical Elective Course as per Option</string>
				<key>numberOfCredits</key>
				<string></string>
				<key>completed</key>
				<string>0</string>
				<key>time</key>
				<array>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>M</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
					<dict>
						<key>startTime</key>
						<string>8:45</string>
						<key>endTime</key>
						<string>10:00</string>
						<key>weekDay</key>
						<string>W</string>
						<key>type</key>
						<string>Lecture</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
